
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/* --Categories & Courses-- */
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/details1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-courses {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/courses2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-category {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/Category.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-company {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/company.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-login {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/register.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #F0FBFC;
}

/* --Team-- */
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/

.services .service-item:hover .icon img {
    margin-top: -10px;
}

.services .service-item {
    position: relative;
    margin-top: 95px;
}

    .services .service-item .icon {
        width: 190px;
        height: 190px;
        display: inline-block;
        text-align: center;
        line-height: 190px;
        background-color: #1b6ec2;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: -95px;
    }

        .services .service-item .icon img {
            max-width: 86px;
            transition: all .2s;
        }

    .services .service-item .main-content {
        border-radius: 25px;
        padding: 80px 30px 50px 30px;
        background-color: #f1f0fe;
        margin-bottom: 30px;
        margin-right: 80px;
        transition: all .4s;
    }

    .services .service-item h4 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 15px;
        line-height: 30px;
        transition: all .4s;
    }

    .services .service-item p {
        color: #4a4a4a;
        margin-bottom: 25px;
    }

